<footer class="footer">
  <small>
    Japan Dahwah Foundation webpage by Yth. K.H.Dr.<a href="http://dina-whilda.com">Whilda Chaq</a> M.M. MBA. PhD. Jpeg. EXE
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "JDF Webについて", "#" %></li>
        <li><%= link_to "連絡先", "#" %></li>
      </small>
    </ul>
  </nav>
</footer></br>