<footer class="footer">
  <small>
    Sumaraku webpage by Niwa
    <%= image_tag("common/sumaraku-copyright.png", alt:"jdf logo", size: "50x15", id: "jdf_logo") %>
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "スマラクペディア", "#" %></li>
        <li><%= link_to "連絡先", "#" %></li>
      </small>
    </ul>
  </nav>
</footer></br>